<section class="social-section">
    <div class="container-fluid">
        <div class="row">
            <div class="social-contact">
                
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-4">
                            <p class="logo">Blog<span><img src="assets/images/logo.png"></span>MinhHN</p>
                        </div>
                        
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>SERVICES</p>
                                    <p><a href="#">Research</a></p>
                                    <p><a href="#">Mobil</a></p>
                                    <p><a href="#">Travel</a></p>
                                </div>
                                <div class="col-md-4">
                                    <p>USEFULL LINKS</p>
                                    <p><a href="#">Players</a></p>
                                    <p><a href="#">Gift</a></p>
                                    <p><a href="#">Help</a></p>
                                </div>
                                <div class="col-md-4">
                                    <p>SERVICES</p>
                                    <p><a href="#">For Artists</a></p>
                                    <p><a href="#">Developers</a></p>
                                    <p><a href="#">Brands</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>KEEP ME UP TO DATE</h5>
                            <div class="input-group">
                                <input type="text" class="form-control notify-me" placeholder="">
                                <span class="input-group-btn">
							        	<a class="btn btn-default notify-me" type="button">NOTIFY ME</a>
							     	</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <ul class="social-icon" >
                                    <li>
                                        <a href="#" class="ion-social-facebook-outline"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="ion-social-twitter-outline"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="ion-social-dribbble-outline"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="ion-social-pinterest-outline"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-bottom">
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="copyright-text">Demo &copy; 2016
                    <a href="#" target="_blank">Minh Huỳnh Nhật</a>
                </p>
            </div>
        </div>
    </div>
</section>