
<!-- Header Demo -->
<% include userHeader %>
<!-- End Header  -->

<section class="header_slide">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="owl-carousel" id="header_slide">
                    <div class="slide1 bg">
                        <div class="overlay"></div>
                        <div class="head-text">
                            <div class="col-md-6 col-md-offset-3">
                                <h1>FIND A NEW VISION AND DISCOVER MORE</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <a>MOBILE NETWORK</a>
                            </div>
                        </div>
                    </div>

                    <div class="slide2 bg">
                        <div class="overlay"></div>
                        <div class="head-text">
                            <div class="col-md-6 col-md-offset-3">
                                <h1>FIND A NEW VISION AND DISCOVER MORE</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <a>MOBILE NETWORK</a>
                            </div>
                        </div>
                    </div>

                    <div class="slide3 bg">
                        <div class="overlay"></div>
                        <div class="head-text">
                            <div class="col-md-6 col-md-offset-3">
                                <h1>FIND A NEW VISION AND DISCOVER MORE</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <a>MOBILE NETWORK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>