<section class="head">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header class="header">
                    <div class="inner">
                        <a href="#menu" class="nav-bars">
							<img src="assets/images/nav-icon.png" class="img-responsive" alt="Collapsable Navbar">
						</a>
                        <a href="#" class="logo">Blog<span><img src="assets/images/logo.png"></span>MinhHN</a>
                    </div>
                </header>

                <!-- Menu -->
                <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>