<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
    <% include ../userHeader %>

        <section id="innerheader2" class="innerheader innerheader2">
            <div class="overlay"></div>
            <div class="container">
                <div class="row pad-small">
                    <div class="col-sm-12">
                        <div class="inner-title">
                            <h3>About</h3>
                            <p>PHASELLUS NON PULVINAR ERAT. FUSCE TINCIDUNT NISL EGET IPSUM.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/images/4.jpg" class="img-responsive" alt="Responsive image" />
                    </div>
                    <div class="col-md-8">
                        <p class="image-text-text">Lorem Ipsum available, but the majority have suffered This alteration in some form, by injected is
                            a humour, or randomised words which don’t look even sligh is made believable. If to use and yammi
                            passage of Lorem Ipsum, you need to be sure there isn’t by pioneer designer anything embarrassing
                            hidden in the middle of text.<br><br> Lorem Ipsum available, but the majority have suffered This
                            alteration in some form, by injected is a humour, or randomised words which don’t look even sligh
                            is made believable. If to use and yammi passage of Lorem Ipsum, you need to be sure there isn’t
                            by pioneer designer anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <img src="assets/images/5.jpg" class="img-responsive" alt="Responsive image" />
                    </div>
                    <div class="col-md-8 col-md-pull-4">
                        <p class="image-text-text second">Lorem Ipsum available, but the majority have suffered This alteration in some form, by injected is
                            a humour, or randomised words which don’t look even sligh is made believable. If to use and yammi
                            passage of Lorem Ipsum, you need to be sure there isn’t by pioneer designer anything embarrassing
                            hidden in the middle of text.<br><br> Lorem Ipsum available, but the majority have suffered This
                            alteration in some form, by injected is a humour, or randomised words which don’t look even sligh
                            is made believable. If to use and yammi passage of Lorem Ipsum, you need to be sure there isn’t
                            by pioneer designer anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="blockquote">
            <div class="container">
                <h1>Blockquote</h1>
                <blockquote>Injected humour, or randomised words which don’t look even sligh is made believable If to use and passage
                    of Lorem Ipsum. Hello Im Secspaire.</blockquote>
            </div>
        </section>



        <section class="grid-image">
            <div class="container">
                <div class="tiles">
                    <h1>GRID</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/2.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/3.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/1.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/5.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/6.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/4.jpg" class="img-responsive" alt="Responsive image" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <% include ../Footer %>


            <script src="assets/js/jquery-3.1.0.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <script src="assets/js/script.js"></script>

</body>

</html>