<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
    <% include ../userHeader %>

        <section id="innerheader2" class="innerheader innerheader2">
            <div class="overlay"></div>
            <div class="container">
                <div class="row pad-small">
                    <div class="col-sm-12">
                        <div class="inner-title">
                            <h3>Contact</h3>
                            <p>PHASELLUS NON PULVINAR ERAT. FUSCE TINCIDUNT NISL EGET IPSUM.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5912551944834!2d106.60753541534756!3d10.765951462329518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c39391a6f31%3A0xefbad03b7bd6446f!2zMjA1IELDrG5oIFRy4buLIMSQw7RuZywgQsOsbmggVHLhu4sgxJDDtG5nIEEsIELDrG5oIFTDom4sIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sin!4v1500803612984"
                width="1280" heigh="1000" frameborder="0" style="border:0" allowfullscreen></iframe>
        </center> -->

        <section class="contact-form">
			<div class="container">
			<!-- Form -->
				<div class="row">
					<div class="col-md-12">
						<h1>Form</h1>
						<form class="form-name-email">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="name" id="name" placeholder="Name"/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" name="email" id="email" placeholder="Email" />
									</div>
								</div>
                            </div>
						
							<div class="row">
								<div class="col-md-12">
									<div class="from-group">
										<textarea class="form-control" rows="10" name="message" id="message" placeholder="Message..."></textarea>
									</div>
									<p>
									  <a href="#" type="button" class="btn btn-tobais btn-send">SEND MESSAGE</a>
									  <a href="#" type="button" class="btn btn-tobais btn-reset">RESET</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </section>
        
        <% include ../Footer %>
            <script src="assets/js/jquery-3.1.0.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <script src="assets/js/script.js"></script>
</body>

</html>